<div class="main-content text-secondary">
  <div class="row" style="padding-left: 0.5vw">
    <div class="col-lg-6" data-aos="fade-right">
      <div style="padding-left: 5vw; padding-right: 1vw">
        <div style="background-color: #2c3e50">
          <div class="left-image">
            <img
              width="100%"
              style="padding: 1vw"
              src="assets/img/profile.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col-lg-6">
      <p class="more-info">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          style="color: #2c3e50; font-size: large; font-weight: bold"
          >Hi! guys.</span
        >&nbsp;Thank you for visiting my website. My website is a showcase of my
        work, experiences and abilities. Let's go to visit the website.
        <br />
        <br />
      </p>
      <div>
        <div>
          <h6><i class="pi pi-user" style="font-size: 1rem"></i>&nbsp; Name</h6>
          <p>Aphiruk Roemruk(Tong)</p>
        </div>
        <br />
        <div>
          <h6>
            <i class="pi pi-gift" style="font-size: 1rem"></i>&nbsp; Birth
          </h6>
          <span> 3 January 2544</span>
        </div>
        <br />
        <div>
          <h6>
            <i class="pi pi-map-marker" style="font-size: 1rem"></i
            >&nbsp;Address
          </h6>
          <span>
            83 Village No.13 Thakonyang Sub-district, Kantarawichi District,
            Mahasarakham, 44150.</span
          >
        </div>
        <br />
        <div>
          <h6>
            <i class="pi pi-heart" style="font-size: 1rem"></i>&nbsp;Motto
          </h6>
          <span>Life is short but the wold is wide</span>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
